body {
    font-family: Arial, sans-serif;
    background-color: #e2fbff;
    color: #333;
    margin: 0;
    padding: 0;


}

nav{
    font-family: "Baskerville Old Face";
    font-size: large;
    background: #0e3750;
    padding: 1px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

}
.title{
    margin-left: 50px;
    color: white;
}

.image{
    width: 100%;
    height: auto ;
    display: block;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
    filter: blur(2px);
}

.button {
    margin: 1rem;
    display: inline-block;
    padding: 10px 15px;
    background-color: #5aade3;
    color: white;
    float: right;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.fa-user-plus{
    font-size: 1rem;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
    padding: 10px;
}

.card{
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.21);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    transition: transform 0.2s;
}

.card:hover{
    transform: scale(1.05);
}

.card-img{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 2rem;
}
.card-body{
    padding: 30px;
}

.card-title{
    font-size: 25px;
    margin: 0 0 20px;
    text-align:center;

}
.card-button{

}
.card-text{
    margin-left: 3rem;
}

/* Addpage */
.addtitle{
    text-align: center;
    margin-bottom: 5px;
}
.center-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group i {
 color: #aaa;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    margin: 2px;
    padding: 7px 7px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus {
    border-color: #007BFF;
    outline: none;
}

input[type="submit"] {
    margin: 1 auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: 1fr;
    }
}
